/* Adicionar aqui toda a estilização criada para sua aplicação. */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    
}

.header{
    background-color: black;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 15px;
    border-bottom: solid 4px darkturquoise;
    z-index: 999;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    font-size: 15px;
}

li{
    margin: 20px;
    padding: 0;
    color: orange;
}

.agora a{
    color: chocolate;
    font-size: 17px;
}

a{
    text-decoration: none;
    color: orange;
}

h1{
    color: darkturquoise;
    font-size: 30px;
}
.banner {
    color: white;
    display: flex;
    padding: 200px;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
    background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
    font-size: 25px;
}

.banner .container{
    margin-left: 200px;
    height: 50px;
    width: 50px;

}

span{
    font-weight: bold;
}

img{
    width: 100px;
    height: 100px;
}

.boxes{
    display: flex;
    background-color: lightgrey;
    padding: 50px;
    border-bottom: 3px solid steelblue;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h4{
    color: crimson;
    padding: 10px;
    margin-bottom: 5px;
}

.box p{
    padding: 0px 50px;
}

.footer{
    position: relative;
    background-color: darkturquoise;
    border: 10px;
    padding-bottom: 20px;
    color: white;
}

.footer .container{
    display: flex;
    flex-direction: column;
    padding: 0;
    top: 0;
}

.footer h4{
    color: white;
}

.login{
    background-image: url('../assets/imgs/bg-jelly-fish-para_outras_pags.png');
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}


.card{
    padding:60px 100px;
    background-color: lightgrey;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    color: crimson;
}

h2{
    font-size: 30px;
}

.formulario{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.campo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.campo span{
    font-size: 15px;
}

input{
    width:30vw;
    height: 30px;
    border: solid 2px darkturquoise;
    border-radius: 10px;
    text-align: center;
}

.botao{
    margin-top: 20px;
    border: none;
    padding: 7px 30px;
    border-radius: 10px;
    color: white;
    background-color: crimson;
}
